[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymongo = "*"
configparser = "*"
Scrapy = "*"
flask = "*"
dnspython = "*"
urllib3 = "*"
logging3 = "*"
flask-restful = "*"

[requires]
python_version = "3.7"
